.ad2010 {
  a.btn {
    margin-bottom: 20px;
    min-width: 100px;
  }
   button{
     margin-bottom: 20px;
     min-width: 100px;
   }
  .col-sm-6.col-sm-offset-4>button{
    margin-right: 10px;
  }
  .control-label.pull-right{
    color:#ff0000;
  }
  .col-sm-6{
      margin-top: 3px;
  }
  .col-sm-6.col-sm-offset-4>a.btn{
    margin-right: 10px;
  }
 }