.ad3710-info {
  border: 1px solid #ccc;
  padding: 20px;
  p {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .big-text {
    height: 150px;
  }

  .big-text-02 {
    height: 100px;
  }
}

.ad3710-back {
  margin: 10px 0;
  a {
    margin-bottom: 10px;
    display: inline-block;
  }
  .box-info {
    border: 1px solid #ccc;
  }
}

.btn-pull-right {
  margin-right: 20px;
}

.edit-link {
  margin: 15px 0 20px;
  display: block;
  padding: 9px 0;
}